PORT=
DB_URL=

URL_FE_1=
URL_FE_2=

JWT_SECRET=
JWT_EXPIRES_IN=

GOOGLE_CLIENT_ID=

# VNPAY Sandbox - không ghi secret thật vào file mẫu
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=
VNP_IPN_URL=
CLIENT_VNPAY_RETURN_URL=


EMAIL_USER=
EMAIL_PASSWORD=