PORT=3000
DB_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE?ssl={\"rejectUnauthorized\":true}"

URL_FE_1=http://localhost:5173
URL_FE_2=http://localhost:5174

JWT_SECRET=c84f196d18fb806aac84c261429b579e95def54a15f36ce21b31775ef56992df
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=chuoi_bi_mat

# VNPAY Sandbox - không ghi secret thật vào file mẫu
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=
VNP_IPN_URL=
CLIENT_VNPAY_RETURN_URL=http://localhost:5173/payment/vnpay-return
